@import 'tailwindcss';

@layer utilities {
    .max-w-7xl {
        max-width: 90rem !important;
    }
}

@theme {
    --color-color-a: #fdeefc;
    --color-color-b: #ffd8a9;
    --color-color-c: #f1a661;
    --color-color-d: #e38b29;
}

* {
    user-select: none;
}

body {
    overflow-x: hidden;
}